        <div class="footer">
          <div id="button"></div>
        <div id="container">
        <div id="cont">
        <div class="footer_center">
        	   <h3>Developed By: Alex Richardson</h3>
        	   <a href="https://codepen.io/nickbraver/pen/mHLCp">Footer Concept By: Nick Braver</a>
        </div>
        </div>
        </div>
        </div>

  </body>
</html>