<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6" style="display: inline-block;">
            <a type="button" class=" btn btn-success pull-left" href="/employee/new">Add New Employee</a>
        </div>
        <div class="col-md-6" style="display:inline-block; position:relative; float:right">
            <a type="button" class="btn btn-danger disabled pull-right" href="/employee/delete">Delete Employee</a>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row text-center">
        <% employee.forEach(function(employees){ %>
            <div class="col-md-3 col-sm-12">
                <div class="thumbnail">
                    <h4><%= employees.name %></h4>
                    <p>
                        <a href="/employee/<%= employees._id %>/tallymark/edit" class="btn btn-primary">Add A Tally Mark</a>
                        <a href="/employee/<%= employees._id %>/strike/edit" class="btn btn-primary">Add A Strike</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<% include partials/footer %>