<% include partials/header %>
<body class="bod">

<div class="container-fluid">
        <div class="col-md-12 chip">
            <a href="/employee"><img class="img-chip img-responsive" src="https://drpma142ptgxf.cloudfront.net/assets/logo.svg" alt="chipotle logo"><h1>Click To Enter</h1></a>
        </div>
</div>
</body>

<% include partials/footer %>